* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    width: 900px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

.imgList {
    width: 100%;
    height: 100%;
}

.imgItem {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s;
}

.imgItem.active {
    opacity: 1;
}

.btns {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.btns .prevBtn,
.btns .nextBtn {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.circleList {
    height: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circleList .circleItem {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    border: 2px solid #7f7f7f;
    background-color: #ccc;
}

.circleItem.active {
    background-color: #fff;
}

.circleList .circleItem.active {
    background-color: #fff;
}